.find-icon {
  display: flex;
  justify-content: space-between;
}
.find-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icon__icon i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 35px;
}
.find-icon__icon span {
  margin-top: 15px;
}
.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--main-color);
}
.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--main-color);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  margin-bottom: 25px;
}
.open-chat__header span {
  color: var(--main-color);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 6px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members-count {
  font-size: 14px;
  opacity: 0.5;
}
.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: var(--main-color);
  margin: 0px 5px;
}
.open-post__members-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
