@charset "utf-8";

* {
  font-family: "Nanum Pen Script", cursive;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* header */

.jungle_cinema {
  width: 1050px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  margin: 25px auto;
  background-color: rgba(240, 248, 255, 0.836);
}

.jungle_h2 {
  width: 560px;
  height: 90px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 90px;
  margin-left: 200px;
  font-size: 28px;
  font-weight: bold;
}

.jungle_menu_ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.jungle_menu_ul > li {
  font-size: 22px;
  margin-right: 30px;
}

.menu_current {
  font-weight: bold;
}

.menu_intended,
.menu_boxoffice {
  color: rgba(0, 0, 0, 0.4);
}

/* movie section */

.movie_section {
  width: 995px;
  height: 870px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  margin: 0px 25px 25px 25px;
}

.movie_list_item {
  display: inline-block;
  width: 210px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 25px 0px 5px 25px;
}

.movie_fig {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.movie_poster {
  width: 156px;
  height: 218px;
  border-radius: 5%;
  margin: 25px 0px 25px 20px;
}

.movie_name {
  font-size: 20px;
  width: 136px;
  font-weight: bold;
  margin: -15px 0px 0px 25px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.information {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.genre_star {
  display: flex;
  flex-direction: row;
}

.genre,
.star,
.release,
.actor {
  margin: 0px 5px 0px 25px;
  color: rgba(0, 0, 0, 0.4);
}

.atc_btn {
  font-size: 18px;
  margin-bottom: 15px;
}

.reservation,
.trailer {
  padding: 15px 25px;
}

.reservation {
}

.trailer {
  margin-top: 200px;
}

.reservation {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.play_icon {
  width: 10px;
  height: 10px;
}

.atc_btn::before {
  content: "";
  display: block;
  width: 100%;
  margin: 20px 0px 15px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
