.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  top: 0px;
  background-color: rgb(19, 27, 52);
  color: white;
}

.status_bar_company {
  display: flex;
  align-items: center;
}

.status_bar_company_icon {
  margin: 0px 20px;
}

.status_bar_company_comment {
  font-weight: 600;
}

.status_bar {
  display: flex;
  align-items: center;
}

.status_bar_item {
  font-weight: bold;
  font-size: 25px;
}

.login_register {
  display: flex;
  align-items: center;
}

.first_s {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 350px;
  background-color: rgb(19, 27, 52);
  color: white;
  height: 40vw;
}

h1,
.h1_span1,
.h1_span2,
.more {
}

footer {
  background-color: rgb(19, 27, 52);
}

ul {
  list-style: none;
}
