.icon-row {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgoldenrodyellow;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 70px;
  box-sizing: border-box;
}
.icon-row__icon i {
  font-size: 50px;
  margin-bottom: 20px;
}
.icon-row__icon:hover {
  cursor: pointer;
  color: lightsalmon;
}
